.electronics-main{
    .electronics-title{
        font-size: 26px;
    }
    .nav-link{
        color: #ff7900;
    }
    .slick-next::before, .slick-prev::before{
        color: #ff7900;
    }
   
   
}


@media (max-width: 1200px){
   
}

@media (max-width: 992px){
    
}

@media (max-width: 768px){
    .electronics-main{
        .electronics-title{
            font-size: 20px;
        }
        .nav-link{
            font-size: 14px;
        }
    }
}

@media (max-width: 576px){
    .electronics-main{
        .electronics-title{
            font-size: 16px;
        }
        .nav-link{
            font-size: 12px;
        }
       
    }
   

}