.customerReviewMain{
     .topBottomBorder{
        border-top: 2px solid #f2f2f8;
        border-bottom: 2px solid #f2f2f8;
    }
    .topBorder{
        border-top: 2px solid #f2f2f8;
    }
    .rightBorder{
        border-right: 2px solid #f2f2f8;
    }
}