.categoryCircle{
    .offerText{
        background-color: #ff7900;
    }
}

@media (max-width: 1200px){

}

@media (max-width: 992px){
   
}

@media (max-width: 768px){
   
}

@media (max-width: 576px){
    .categoryCircle{
        img{
            width: 70px;
            height: 70px;
        }

        span{
            font-size: 12px;
        }
    }
   

}