.productList-main{
    .breadcrumb-item+.breadcrumb-item::before {
        content: var(--bs-breadcrumb-divider, ">");
    }
    .list-group{
        .list-group-item{
            .form-check-input{
                border-radius: 50%;
                box-shadow: none;
                border: 1px solid #a4a4b8;
                background-image: none;
               

                &:checked{
                    background-color: #ff7900;
                    border: 1px solid #a4a4b8;  
                }

            }
        }
    }
}