

@media (max-width: 1200px){
    .productList-main{
        label, select{
            font-size: 12px;
           
        }
       }
}

@media (max-width: 992px){
    
}

@media (max-width: 768px){
  
}

@media (max-width: 576px){
.productList-main{
    .fliterOptionButton{
        img{
            width: 25px;
            height: 25px;
        }
    }
}
}