.productCard-main {
  .card {
    border: 2px solid #f5f5fc;
    border-radius: 20px;
    cursor: pointer;

    .heartDiv{
      height: 40px;
      width: 40px;
      right: 10px;
      top: 10px;
    }
    .addedwishlist{
      background-color: #0063ff;
    }
    .productCardImg{
      height: 250px;
    }
  .productDetail {
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover{
      color: #0063ff;
    }
  }
  .price {
    font-size: 24px;
  }
  .cardbtn {
    display: none;
    // background-color: #0063FF;
  }
}
}

@media (max-width: 1200px) {
    .productCard-main{
        .card{
          .heartDiv{
            right: 8px;
            top: 8px;
          }
            .price{
                font-size: 20px;
            }
            .originalPrice{
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 992px) {
    .productCard-main{
        .card{
        
            .rating{
                img{
                    width: 16px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
  .productCard-main {
    .card{
      .heartDiv{
        height: 35px;
        width: 35px;
        right: 5px;
        top: 5px;
      }
      .productCardImg{
        height: 200px;
      }
    .price {
      font-size: 18px;
    }
    .originalPrice {
      font-size: 14px;
    }
}
  }
}

@media (max-width: 576px) {
  .productCard-main {
   .card{
    .price {
        font-size: 16px;
      }
      .originalPrice {
        font-size: 12px;
      }
  
      .rating {
        img {
          width: 12px;
        }
      }
   }
  }
}
