#productDetailSliderMain{
    .slick-arrow{
        background: none;
        box-shadow: none;
        &::before{
            background: none;
        }
    }
    .sideSliderImgDiv{
        height: 120px;
        cursor: pointer;
    }
}