.savedCards-Main{
    border: 2px solid #f5f5fC;
    border-radius: 20px;

    .credit-card{
        .deleteImgDiv{
            height: 20px;
            width: 20px;
        }

        .visaImgDiv{
            height: 40px;
            width: 50px;
        }
    }
}