.paymentMain{
    .paymentHeading{
        border-bottom: 2px solid #f5f5fC;
    }
    .address{
        border: 2px solid #f5f5fC;
        border-radius: 20px;
        padding: 20px;
    }
    .customborderleft{
        border-left: 2px solid #f5f5fC;
    }
    h5{
        color: #a4a4b8;
        margin: 16px 0px;
    }
    .paymentImgDiv{
        height: 180px;
        width: 180px;
        padding: 5px;
    }
    .cardImgDiv{
        height: 28px;
        width: 43px;
    }
}


@media (max-width: 1200px){
    .paymentMain{
        .customborderleft{
            border-left: none;
        }
        .paymentImgDiv{
            height: 126px;
            width: 126px;
            padding: 5px;
        }
    }
}
@media (max-width: 992px){
    .paymentMain{
        .paymentImgDiv{
            height: 110px;
            width: 110px;
            padding: 5px;
        }
    }
}

@media (max-width: 767px){
    .paymentMain{
        .paymentImgDiv{
            height: 160px;
            width: 160px;
            padding: 5px;
        }
    }
}

@media (max-width: 576px){
    .paymentMain{
        .paymentImgDiv{
            height: 120px;
            width: 120px;
            padding: 5px;
        }
    }
}

@media(max-width: 425px){
    .paymentMain{
        .paymentImgDiv{
            height: 92px;
            width: 92px;
            padding: 5px;
        }
    }
}
