.address-container {
  .editoption {
    cursor: pointer;
  }
  .customborder {
    border-top: 2px solid #f2f2f8;
    .defaultAddress{
      max-width: fit-content;
    }
  }
  .card {
    border: 2px solid #f2f2f8;
    .customborder {
      border-top: 2px solid #f2f2f8;
    }
    .btn {
      // background-color: #ff7900;
      transition: all 0.5s ease-in-out;
      &:hover {
        background-color: #292d32;
        border-color: #292d32;
      }
    }
    :not(.btn-check) + .btn:active {
      background-color: #0a58ca;
    }
  }
}
