$themeColor: #ff7900;


.header-main{
    box-shadow: 10px 3px 16px #292D320D;
    .container-fluid{
        max-width: 1600px;
        
        #userProfile{
            #loginHover{
                display: none;
                border: 1px solid #FFFFFF;
                box-shadow: 10px 3px 16px #292D320D;
                .btn:first-child:active{
                    background-color: #ff7900;
                    }
                .signupBtn{
                    background-color: #ff7900;
                    &:hover{
                        background-color: black;
                        transition: all 0.2s ease-in-out;
                    }
                }
            }
            &:hover{
                #loginHover{
                    display: block;
                }
            }
            li{
                font-size: 15px;
            }
        }
        
     .input-group{
        border: 2px solid #f5f5fc;

        button{
        background-color: $themeColor;
        border: 1px solid $themeColor;
        &:hover{
        background-color: $themeColor;
        border: 1px solid $themeColor;
            };
        }
    }

    .wishlistCount, .cartCounter{
        background-color: $themeColor;
        width: 20px;
        height: 20px;
        top: -8px;
        right: -8px;
        }
    }
}



@media (max-width: 1200px){
.header-main{
    .container-fluid{
        #userProfile:hover{
            #loginHover{
                display: none;
            }
        }
    }
}
}

@media (max-width: 992px){
    
}

@media (max-width: 768px){
    .header-main{
        .container-fluid{
            .brand-logo{
                height: 60px;
                width: 130px;
            }
        }
    }
}

@media (max-width: 576px){
    .header-main{
        .container-fluid{
            .brand-logo{
                height: 45px;
                width: 100px;
            }
        }
    }
   

}

// @import '../../../node_modules//bootstrap/scss/bootstrap.scss';