$themeColor: #0063ff;

.header-main {
  box-shadow: 10px 3px 16px #292d320d;
  .container-fluid {
    max-width: 1600px;
    .brandlogo {
      width: 150px;
    }

    #userProfile {
      #loginHover {
        display: none;
        min-width: max-content;
        border: 1px solid #ffffff;
        box-shadow: 10px 3px 16px #292d320d;
      }
      &:hover {
        #loginHover {
          display: block;
        }
      }
    }

    .input-group {
      border: 2px solid #f5f5fc;

      button {
        background-color: $themeColor;
        border: 1px solid $themeColor;
        &:hover {
          background-color: $themeColor;
          border: 1px solid $themeColor;
        }
      }
    }

    .wishlistCount,
    .cartCounter {
      background-color: $themeColor;
      width: 20px;
      height: 20px;
      top: -8px;
      right: -8px;
    }
  }
}

@media (max-width: 1200px) {
  .header-main {
    .container-fluid {
      #userProfile:hover {
        #loginHover {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .header-main {
    .container-fluid {
      .brandlogo {
        width: 130px;
      }
    }
  }
}

@media (max-width: 576px) {
  .header-main {
    .container-fluid {
      .brandlogo {
        width: 100px;
      }
      .wishlist,
      .cartimg,
      .user {
        width: 75%;
      }
      .wishlistCount,
      .cartCounter {
        background-color: $themeColor;
        width: 16px;
        height: 16px;
        top: -3px;
        right: 0px;
      }
    }
  }
}

// @import '../../../node_modules//bootstrap/scss/bootstrap.scss';
