$themeColor: #0063ff;

.signRegisterHoverMenuMain{
    #signupBtn {
        // background-color: $themeColor;
        &:hover {
          background-color: #292d32;
          border-color: #292d32;
          color: white;
          transition: all 0.2s ease-in-out;
        }
      }
    
      ul {
        list-style: none;

        li {
          font-size: 15px;
          text-decoration: none;
          border-top: 1px solid #F2F2F8;
          a{
              color: #292D32;
          }
          &:hover{
            background-color: #292d32;
            transition: all 0.2s ease-in-out;
            a{
            transition: all 0.2s ease-in-out;
            color: white;
            }
          }
        }
      }
}