.footer-main{
    background-color: #222222;
   .container{
    a, span, p{
        color: #a4a4b8;
        font-size: 14px;
    }
    a, span{
        &:hover{
            color: #ff7900;
        }
    }
    .divider{
        border-top: 1px solid #a4a4b8;
    }
    .socialIcons{
        background-color: #ff7900;
        height: 35px;
        width: 35px;
        &:hover{
            background-color:black;
        }
    }
   }
}

@media (max-width: 1200px){

}

@media (max-width: 992px){
    
}

@media (max-width: 768px){
    .footer-main{
        .container{
         h5{
             font-size: 16px;
         }
         a, span, p{
             font-size: 14px;
         }
        }
        }
}

@media (max-width: 576px){
   .footer-main{
   .container{
    h5{
        font-size: 14px;
    }
    a, span, p{
        font-size: 12px;
    }
   }
   }
   

}