.productDetailMain{
    .topBottomBorder{
        border-top: 2px solid #f2f2f8;
        border-bottom: 2px solid #f2f2f8;
    }
    .leftRightBorder{
        border-left: 2px solid #f2f2f8;
        border-right: 2px solid #f2f2f8;
        border-top: none;
        border-bottom: none;
    }
    .share{
        .shareImage{
            background-color: #f5f5fc;
        }
        .shareHover{
            display: none;
            width: 160px;
            ul {
                border: 2px solid #f2f2f8;
                li{
                    border-bottom: 2px solid #f2f2f8;
                    &:last-child{
                        border-bottom: none;
                    }
                    a{
                        color: #000;
                        &:hover{
                            color: #0063FF;
                        }}
                    }}
                }
            }
    .share:hover{
        .shareHover{
            display: block;
            top: 40px;
            right: 0px;
        }
        
    }
    .productTitle, .price{
        font-size: 24px;
    }
    .btn:first-child:active{
        background: rgb(250, 249, 249);
        color: #000;
    }
    :not(.btn-check)+.btn:active{
        background: rgb(250, 249, 249);
        color: #000;
    }
    .btn{
        &:hover{
            background: rgb(250, 249, 249);
            color: #000;
        }
    }
    .cart{
        &:hover{
            background-color: #000;
            border-color: black;
            color: white;
        }
    }
    .buyNow{
        color: #000;
        background-color: #cfe2ff;
        &:hover{
            background-color: #0063FF;
            color: white;
        }
    }   
}

@media (max-width: 1200px){
    
    }
    
    @media (max-width: 992px){
      
    }
    
    @media (max-width: 768px){
        
       
    }
    
    @media (max-width: 576px){
       .productDetailMain{
        .share:hover{
            .shareHover{
                right: 10px;
            }
        }
        .productTitle{
            font-size: 16px;
        }
        p{
            font-size: 14px;
        }
        .rateCount{
            font-size: 4rem;
        }
       
     
       }
    
    }