.breadcrumbMain{
    .itemsOfBread+.itemsOfBread::before {
        content: var(--bs-breadcrumb-divider, ">");
        color: #a4a4b8;
        margin: 0 10px;
    }
    .itemsOfBread{
            text-decoration: none;
            color: #a4a4b8;
    }
    .active{
        
            color: black;
        
    }
}