.trending-main{
   .trendingImgDiv{
    height: 140px;
    width: 140px;
   }
    .weeklyTitle{
        font-size: 20px;
    }
    
    .productList{
        color: #0063FF;
        font-size: 18px;

        
    }
}

@media (max-width: 1200px){

}

@media (max-width: 992px){
    
}

@media (max-width: 768px){
    .trending-main{
     
        .weeklyTitle{
            font-size: 17px;
        }
        
        .productList{
            font-size: 13px;     
        }
    }
}

@media (max-width: 576px){
   
      
        
       
    }

