.trending-main{
    .trending-title{
        font-size: 26px;
    }
    .nav-link{
        color: #ff7900;
    }
    .weeklyTitle{
        font-size: 20px;
    }
    
    .productList{
        color: #ff7900;
        font-size: 18px;

        
    }
}

@media (max-width: 1200px){

}

@media (max-width: 992px){
    
}

@media (max-width: 768px){
    .trending-main{
        .trending-title{
            font-size: 20px;
        }
        .nav-link{
            font-size: 14px;
        }

        .weeklyTitle{
            font-size: 17px;
        }
        
        .productList{
            font-size: 16px;
    
            
        }
    }
}

@media (max-width: 576px){
   
    .trending-main{
        .trending-title{
            font-size: 16px;
        }
        .nav-link{
            font-size: 12px;
        }
        .weeklyTitle{
            font-size: 20px;
        }
        
        .productList{
            font-size: 18px;
    
            
        }
    }

}